* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 2;
  font-family: "Manrope", sans-serif;
  color: #000000;
  width: 100%;
  height: 50px;
}
h2 {
  font-size: 2;
  font-family: "Manrope", sans-serif;
  color: #000000;
  width: 100%;
  height: 50px;
}
h3 {
  font-size: 2;
  font-family: "Manrope", sans-serif;
  color: #000000;
  width: 100%;
  height: 50px;
}

label {
  font-size: 2;
  font-family: "Manrope", sans-serif;
  color: #000000;
  width: 100%;
  height: 50px;
}

p {
  font-size: 1.4em;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  width: auto;
  height: auto;
  margin-right: 60px;
  margin-left: 60px;
}
nav {
  background-color: #1c1c1c;
  width: 100%;
  margin: 50 auto;
  position: fixed;
}

nav div {
  align-items: center;
  /*justify-content: space-between;*/
}

nav a {
  font-family: "Rajdhani", sans-serif;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #000000;
}

nav a.initial-page {
  float: left;
  color: #daa520;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 18px;
}

nav a.navigation {
  text-align: left;
  float: right;
  color: #daa520;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 18px;
}

.landing-page {
  margin: 3%;
  width: 713px;
  height: 489px;
}
.login-profile {
  margin: 5%;
  width: 338px;
  height: 298px;
  margin-bottom: 15px;
}
.email {
  height: 50px;
  width: 110px;
}

form {
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 auto;
}

main.container {
  align-items: center;
  background: #ffdead;
  max-width: 300px;
  max-height: 55vh;
  padding: 5rem;
  box-shadow: 5px 5px 15px #f5deb3;
  border-radius: 8px;
  justify-content: center;
}

main h2 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}

main p {
  font-family: "Rajdhani", sans-serif;
  font-size: 0.5;
  margin-bottom: 2rem;
  position: relative;
}

.input-field {
  position: relative;
}
.input-field input {
  font-family: "Rajdhani", sans-serif;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}
form .input-field:first-child {
  margin-bottom: 0.7em;
}

form input[type="submit"] {
  font-family: "Rajdhani", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.7rem;
  background: #f4a460;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}
